TransTermHP v2.07 (built on Jan  4 2011)
25 bins; sample size is 20000000
--pval-conf=/Users/mbsulli/transterm/expterm.dat

--gc=-2.3 --au=-0.9 --gu=1.3 --mm=3.5 --gap=6
--max-len=59 --min-stem=4 --max-loop=13 --min-loop=3
--uwin-length=6 --uwin-require=3 --max-hp-score=-2 --max-tail-score=-2.5
--loop-penalty=1,2,3,4,5,6,7,8,9,10,11
--start-cut=0 --end-cut=25

Genes: 0.691648 %AT, 71827 nt, 300 terms.
Intergenic: 0.771313 %AT, H2T: 49147 nt, 95 terms; T2T: 17477 nt, 92 terms; H2H: 21139 nt, 101 terms. 

Each terminator entry starts in column 3 and is of the form:
  term #       start - end      +/-  regionconf   hp     tail | notes
Followed by the sequence of the 5' tail, 5' stem, loop, 3' stem, and 3' tail.
Genes are interspersed, and start the first column.


SEQUENCE phiST  (length 78267)

gene              157 - 50       - | 
gene              180 - 64       - | 
gene              390 - 226      - | 
gene              133 - 294      + | 
gene              415 - 257      - | 
gene              236 - 340      + | 
gene              827 - 672      - | 
  TERM 1          902 - 870      - RH   84  -9.4 -3.90897 | opp_overlap 870 868
  CAAAGATCATAACAA      TCTCACAACACTTT GTTTA AAAATATTGTGAGA      TAATTGTTTGTTTAA
gene              992 - 861      - | 
gene             1552 - 932      - | 
gene              959 - 1078     + | 
gene             1029 - 1187     + | 
gene             1281 - 1517     + | 
gene             1814 - 1509     - | 
gene             2251 - 1838     - | 
gene             2430 - 2287     - | 
gene             2439 - 2561     + | 
gene             2850 - 2554     - | 
gene             2729 - 2836     + | 
gene             2996 - 2859     - | 
gene             3106 - 2933     - | 
gene             3234 - 3103     - | 
gene             3473 - 3336     - | 
gene             3672 - 3460     - | 
gene             3163 - 3510     + | 
gene             3790 - 3524     - | 
gene             3464 - 3595     + | 
gene             4079 - 3777     - | 
gene             3808 - 3927     + | 
gene             4319 - 4098     - | 
gene             4090 - 4212     + | 
gene             4249 - 4404     + | 
gene             4759 - 4358     - | 
gene             4612 - 4716     + | 
gene             4898 - 4788     - | 
gene             4821 - 4931     + | 
gene             5019 - 4915     - | 
gene             5250 - 5020     - | 
gene             5531 - 5262     - | 
gene             5337 - 5441     + | 
gene             5467 - 5580     + | 
  TERM 2         5640 - 5584     - TfRH  80   -10 -3.07088 | gap 1, opp_overlap 5638, overlap 5580 5586 5605 5613
  ACCATTAGATAGATA TAGCAACACTTTATCGAAAAATAATTT AATT AAACT-TTTTTAAACAAAGTGTTGCTA TATCGAAGATATGGT
  TERM 3         5732 - 5753     + GTr  79  -7.3 -4.36596 | opp_overlap 5732
  CAATCGTACAAAAAA           TAGAGCACC AAAC GATGCTCTA            TTTATTAGTTGTCCA
  TERM 4         5753 - 5732     - gTR 100  -9.5 -5.27923 | opp_overlap 5732
  CAATCGTACAAAAAA           TAGAGCACC AAAC GATGCTCTA            TTTATTAGTTGTCCA
gene             6084 - 5758     - | 
gene             5655 - 5825     + | 
gene             5945 - 6064     + | 
gene             6396 - 6094     - | 
gene             6168 - 6287     + | 
gene             6308 - 6466     + | 
gene             6463 - 6564     + | 
gene             6950 - 6843     - | 
gene             7129 - 7022     - | 
gene             6577 - 7098     + | 
  TERM 5         7157 - 7108     - GTf 100 -10.3 -5.79595 | gap 1, opp_overlap 7115, overlap 7110 7115
  CGTTAAAATAAAAAA TATAAAACCCGAATTTGACCAC TAATACT GTGG-CAAATTCGGGTTTTTTT TCTTAACTCGATACA
  TERM 6         7155 - 7110     - GTf 100 -12.9 -4.53077 | gap 1, opp_overlap 7115, overlap 7108 7115
  TTAAAATAAAAAATA TAAAACCCGAATTTGACCAC TAATACT GTGG-CAAATTCGGGTTTTT TTTCTTAACTCGATA
  TERM 7         7150 - 7115     - GTf 100 -12.8 -5.08086 | gap 1, opp_overlap 7115, overlap 7110 7108
  ATAAAAAATATAAAA    CCCGAATTTGACCAC TAATACT GTGG-CAAATTCGGG    TTTTTTTTCTTAACT
  TERM 8         7115 - 7150     + gTF 100 -12.8 -6.11243 | gap 1, opp_overlap 7115 7110 7108
  ATAAAAAATATAAAA    CCCGAATTTGACCAC TAATACT GTGG-CAAATTCGGG    TTTTTTTTCTTAACT
gene             7665 - 7438     - | 
gene             7883 - 7728     - | 
gene             8122 - 7985     - | 
gene             7394 - 8137     + | 
gene             8216 - 8106     - | 
gene             8621 - 8451     - | 
gene             8155 - 8604     + | 
  TERM 9         8632 - 8622     - gTR  78  -6.8  -4.5493 | 
  AGCGAAATAAAACAA                 GCAG CAT CTGC                 AATAGGAATTACAAC
gene             8836 - 8681     - | 
gene             9082 - 8978     - | 
gene             8601 - 9047     + | 
gene             9044 - 9493     + | 
gene             9666 - 9490     - | 
gene             9506 - 9649     + | 
gene             9813 - 9670     - | 
gene             9655 - 9783     + | 
gene            10616 - 10401    - | 
gene             9858 - 11525    + | 
gene            11873 - 11757    - | 
gene            11985 - 11818    - | 
gene            12146 - 12045    - | 
gene            12305 - 12177    - | 
gene            12458 - 12345    - | 
gene            11549 - 12601    + | 
gene            13053 - 12907    - | 
gene            13138 - 13025    - | 
gene            13300 - 13148    - | 
gene            12598 - 13578    + | 
gene            13873 - 13769    - | 
gene            14178 - 14056    - | 
gene            14327 - 14175    - | 
gene            14394 - 14197    - | 
gene            14560 - 14429    - | 
gene            14758 - 14639    - | 
gene            15028 - 14897    - | 
gene            13579 - 16062    + | 
gene            16194 - 16042    - | 
gene            16965 - 16861    - | 
gene            17458 - 17237    - | 
gene            17774 - 17625    - | 
gene            18013 - 17771    - | 
gene            18036 - 17926    - | 
gene            16065 - 18113    + | 
gene            18434 - 18258    - | 
gene            18775 - 18623    - | 
gene            18933 - 18772    - | 
gene            19254 - 19129    - | 
gene            19485 - 19333    - | 
gene            19653 - 19525    - | 
gene            20154 - 20035    - | 
gene            20176 - 20075    - | 
gene            18116 - 20188    + | 
gene            20464 - 20246    - | 
gene            20896 - 20735    - | 
gene            20936 - 20835    - | 
gene            20256 - 21242    + | 
  TERM 10       21266 - 21289    + TFrH  87  -9.7  -4.4267 | opp_overlap 21265 21263 21266
  TAAATAAACAAATAG          GCCTACTTT TTAATT AAAGTAGGC           TTTTAACTTTTAAAA
  TERM 11       21289 - 21266    - TfRH  76  -9.7 -2.98189 | opp_overlap 21266, overlap 21265 21263
  TAAATAAACAAATAG          GCCTACTTT TTAATT AAAGTAGGC           TTTTAACTTTTAAAA
gene            21466 - 21299    - | 
gene            21313 - 21885    + | 
  TERM 12       21894 - 21915    + TFrH  82  -5.1 -5.68023 | opp_overlap 21880 21894
  ATCATAACAAAAAAA           GGCACGGAA GAAA TTCTCTGCC            TTTTTTTAATTATAA
gene            22242 - 22120    - | 
gene            22526 - 22224    - | 
gene            22021 - 22509    + | 
gene            22903 - 22799    - | 
gene            23054 - 22926    - | 
gene            23238 - 23125    - | 
gene            23516 - 23268    - | 
gene            23646 - 23443    - | 
gene            23764 - 23537    - | 
gene            24639 - 24307    - | 
gene            25124 - 25011    - | 
gene            25272 - 25153    - | 
gene            22520 - 26266    + | 
gene            26359 - 26252    - | 
gene            26509 - 26387    - | 
gene            26311 - 26619    + | 
gene            26753 - 26586    - | 
gene            26909 - 26805    - | 
gene            27113 - 26979    - | 
gene            26603 - 27034    + | 
gene            27306 - 27205    - | 
gene            27440 - 27294    - | 
gene            27049 - 27468    + | 
gene            27505 - 27675    + | 
gene            27993 - 27892    - | 
gene            27513 - 28043    + | 
gene            28345 - 28235    - | 
gene            28400 - 28299    - | 
gene            28605 - 28480    - | 
gene            28150 - 29073    + | 
gene            29430 - 29299    - | 
gene            29443 - 29339    - | 
gene            29677 - 29555    - | 
gene            29085 - 29714    + | 
gene            29943 - 29737    - | 
gene            30252 - 30151    - | 
gene            30516 - 30376    - | 
gene            29683 - 30480    + | 
gene            30736 - 30557    - | 
gene            31123 - 30884    - | 
gene            30496 - 31200    + | 
gene            31608 - 31417    - | 
gene            31790 - 31662    - | 
gene            31163 - 31750    + | 
gene            31740 - 32087    + | 
  TERM 13       32136 - 32176    + GTF 100 -12.9 -3.26433 | opp_overlap 32145, overlap 32138 32142 32145 32148
  CGGAAAAGATACTTA  TGCTAATAACAATTTTACC AAT GGTGAGATTGTTGTTAGTA  TTGGTGATATCGTTA
  TERM 14       32138 - 32174    + GTF 100 -13.3 -3.19117 | opp_overlap 32145, overlap 32136 32142 32145 32148
  GAAAAGATACTTATG    CTAATAACAATTTTACC AAT GGTGAGATTGTTGTTAG    TATTGGTGATATCGT
gene            32047 - 32544    + | 
gene            32645 - 32541    - | 
gene            32783 - 32658    - | 
gene            32942 - 32796    - | 
gene            33132 - 32890    - | 
gene            33215 - 33078    - | 
gene            32546 - 33325    + | 
gene            33375 - 33578    + | 
  TERM 15       33565 - 33589    + TF   93  -9.4 -4.80455 | opp_overlap 33560 33565
  CAGAAGAAAATGAAA          GAGATCTAGA TTAAT TCTGGATCTC          TTTTCTATTTGAGTA
  TERM 16       33589 - 33565    - Tf   79  -7.2 -4.35361 | opp_overlap 33565, overlap 33560
  CAGAAGAAAATGAAA          GAGATCTAGA TTAAT TCTGGATCTC          TTTTCTATTTGAGTA
gene            33795 - 33607    - | 
gene            33598 - 33702    + | 
gene            34234 - 34022    - | 
gene            34738 - 34610    - | 
gene            35037 - 34933    - | 
gene            35166 - 35050    - | 
gene            33696 - 35273    + | 
gene            35422 - 35285    - | 
gene            35597 - 35430    - | 
  TERM 17       36142 - 36128    - gR   77  -7.2  -4.2416 | opp_overlap 36127
  GAACTGAAGAAATAA               CAAAAG ATA CTTTTG               GATTATTGATTTATC
gene            36368 - 36180    - | 
gene            37128 - 37009    - | 
gene            35275 - 37296    + | 
  TERM 18       37315 - 37354    + TFrH 100 -12.5 -5.15381 | opp_overlap 37317 37320, overlap 37317
  TCACTTAACATAGTT  AACAACAGCTTTATTAA TTTATT TTAATAAAGCTGTTGTC   TTTTTTACATATATT
  TERM 19       37352 - 37317    - TfRH 100 -15.1 -3.19442 | opp_overlap 37317 37315, overlap 37320
  ACTTAACATAGTTAA    CAACAGCTTTATTAA TTTATT TTAATAAAGCTGTTG     TCTTTTTTACATATA
  TERM 20       37317 - 37352    + TFrH 100 -15.1 -4.19215 | opp_overlap 37317 37320, overlap 37315
  ACTTAACATAGTTAA    CAACAGCTTTATTAA TTTATT TTAATAAAGCTGTTG     TCTTTTTTACATATA
  TERM 21       37349 - 37320    - TfRH  90   -11 -3.73302 | opp_overlap 37317 37315, overlap 37317
  TAACATAGTTAACAA       CAGCTTTATTAA TTTATT TTAATAAAGCTG        TTGTCTTTTTTACAT
gene            37630 - 37508    - | 
gene            38271 - 38056    - | 
gene            38432 - 38319    - | 
gene            38584 - 38372    - | 
gene            38541 - 38413    - | 
gene            37350 - 38465    + | 
gene            38540 - 38647    + | 
gene            38663 - 38887    + | 
gene            39132 - 38950    - | 
gene            39529 - 39359    - | 
gene            38906 - 39445    + | 
  TERM 22       39739 - 39719    - gRH  79    -7 -4.48877 | opp_overlap 39719
  TAAAGACTTAGAAAA            GATAGAAA AAGTA TTTCTATC            TTTAGTTGAAATTAA
gene            39447 - 39773    + | 
gene            40553 - 40203    - | 
gene            40750 - 40556    - | 
gene            40746 - 40633    - | 
gene            39853 - 40770    + | 
  TERM 23       40788 - 40809    + FH   81  -8.8 -4.23434 | opp_overlap 40788
  CAAATCTCTAATAAA           GGAGCTAT CTAAAC ATAGCTCC            TTTTAAAATCTTTTA
gene            40827 - 41228    + | 
gene            41407 - 41267    - | 
gene            41534 - 41433    - | 
gene            41228 - 42253    + | 
gene            42184 - 42315    + | 
  TERM 24       42746 - 42732    - gT   77  -7.2  -4.3208 | 
  GTGGAGAAGCTAAAA               TTGCTT TAC AAGCAA               GAATGATGAGTCAAG
gene            42967 - 42824    - | 
gene            43026 - 42889    - | 
gene            42254 - 43225    + | 
gene            43347 - 43234    - | 
gene            43237 - 43743    + | 
  TERM 25       43771 - 43794    + TFrH 100  -6.8 -6.14618 | opp_overlap 43771
  AAATATATTAAAAAA          TCCCAATC AAAATAAA GATTGGGA           TTTTTTTGTTTTATA
  TERM 26       43794 - 43771    - TfRH  86  -6.8 -5.28755 | opp_overlap 43771
  AAATATATTAAAAAA          TCCCAATC AAAATAAA GATTGGGA           TTTTTTTGTTTTATA
gene            44079 - 43945    - | 
gene            43843 - 44121    + | 
gene            44280 - 44107    - | 
gene            44114 - 44410    + | 
gene            44627 - 44517    - | 
gene            44999 - 44844    - | 
gene            45244 - 45107    - | 
gene            45692 - 45489    - | 
gene            45936 - 45730    - | 
gene            46034 - 45897    - | 
gene            46275 - 46123    - | 
gene            46622 - 46491    - | 
gene            44407 - 46569    + | 
gene            46872 - 46747    - | 
gene            46886 - 46764    - | 
gene            47126 - 46920    - | 
gene            46570 - 47154    + | 
gene            47603 - 47388    - | 
gene            47157 - 47459    + | 
gene            47703 - 47578    - | 
gene            48376 - 48242    - | 
gene            48594 - 48445    - | 
gene            48842 - 48729    - | 
gene            47461 - 49140    + | 
gene            49573 - 49460    - | 
gene            49145 - 49522    + | 
  TERM 27       49620 - 49646    + FH  100   -11  -5.1417 | opp_overlap 49620 49615
  CACTCAAAAACAAAA         GCCAAAGAAATA AAT TTTTTCTTTGGC         TTTTTCGTTTTATAG
gene            49642 - 49752    + | 
gene            49932 - 49768    - | 
gene            50104 - 49970    - | 
gene            49749 - 50282    + | 
gene            50402 - 50301    - | 
gene            50279 - 50707    + | 
gene            50715 - 51323    + | 
gene            51545 - 51423    - | 
gene            51989 - 51867    - | 
gene            51355 - 52002    + | 
gene            52397 - 52215    - | 
gene            52969 - 52868    - | 
gene            53200 - 53045    - | 
gene            53689 - 53573    - | 
gene            52006 - 54375    + | 
gene            54590 - 54489    - | 
gene            54708 - 54583    - | 
gene            54426 - 54806    + | 
gene            54944 - 54792    - | 
gene            54948 - 54844    - | 
gene            55355 - 55185    - | 
gene            55654 - 55538    - | 
gene            54806 - 56431    + | 
  TERM 28       56486 - 56460    - TfRH 100  -8.1 -5.42164 | opp_overlap 56460
  CACAAATAATAAAAA         GAGCAAAAGGT TTAAT ACTTTTTGCTC         TTTTTTGTTGTATAA
  TERM 29       56460 - 56486    + TFrH 100 -10.3 -5.60689 | opp_overlap 56460
  CACAAATAATAAAAA         GAGCAAAAGGT TTAAT ACTTTTTGCTC         TTTTTTGTTGTATAA
gene            56696 - 56586    - | 
gene            56550 - 56978    + | 
gene            57076 - 56957    - | 
gene            56983 - 57135    + | 
gene            57211 - 57104    - | 
gene            57428 - 57201    - | 
gene            57192 - 57410    + | 
gene            57721 - 57599    - | 
gene            57866 - 57756    - | 
gene            57871 - 57770    - | 
gene            57477 - 58184    + | 
gene            58506 - 58393    - | 
gene            58224 - 58544    + | 
gene            59209 - 59003    - | 
gene            59300 - 59166    - | 
gene            59460 - 59338    - | 
gene            59587 - 59474    - | 
gene            59772 - 59659    - | 
gene            58551 - 60485    + | 
gene            60575 - 60474    - | 
gene            60852 - 60559    - | 
gene            60555 - 60755    + | 
gene            60755 - 61180    + | 
  TERM 30       61234 - 61211    - TfRH  79  -5.3 -5.42259 | opp_overlap 61211
  TTATTTTTAAAAAAA          GAGTAGTCA TTTAGT TGTCTACTC           TTTTTTTGTTTTGTA
  TERM 31       61211 - 61234    + TFrH  91  -5.3 -6.14618 | opp_overlap 61211
  TTATTTTTAAAAAAA          GAGTAGTCA TTTAGT TGTCTACTC           TTTTTTTGTTTTGTA
gene            61747 - 61601    - | 
gene            61874 - 61752    - | 
gene            61225 - 61836    + | 
gene            61890 - 62015    + | 
gene            62328 - 62203    - | 
gene            62377 - 62252    - | 
gene            62012 - 62440    + | 
gene            62568 - 62458    - | 
gene            62943 - 62797    - | 
gene            62466 - 62921    + | 
gene            63116 - 63009    - | 
gene            63141 - 63019    - | 
gene            63887 - 63759    - | 
gene            64327 - 64124    - | 
gene            64893 - 64777    - | 
gene            63028 - 65397    + | 
  TERM 32       65462 - 65435    - TfRH  95 -11.5 -4.09827 | opp_overlap 65435
  CATAATATAAGCAAA        GCTCGTAATAA TTAATT TTATTACGAGC         TTTTGTTGTATAATC
  TERM 33       65435 - 65462    + TFrH 100 -11.5 -4.85918 | opp_overlap 65435
  CATAATATAAGCAAA        GCTCGTAATAA TTAATT TTATTACGAGC         TTTTGTTGTATAATC
gene            65604 - 65482    - | 
gene            65534 - 65677    + | 
gene            65980 - 65789    - | 
gene            66626 - 66462    - | 
gene            66670 - 66530    - | 
gene            65696 - 66700    + | 
  TERM 34       66753 - 66727    - gTR  85  -8.1  -4.4518 | overlap 66720
  AAGTAAAATTGAAAA         TCCTAGCCA GAAAAAGAT TGGCTAGGA         TTCAAACGAAAGTAG
gene            66871 - 66755    - | 
gene            66690 - 66971    + | 
  TERM 35       67226 - 67209    - gTR  86  -7.1 -5.10154 | opp_overlap 67212
  ACGCAAAACCAAAAA             CAAGAAA AAGA TTTCTTG              ATGTGGATCCATTTC
gene            67498 - 67355    - | 
gene            67163 - 67423    + | 
  TERM 36       67453 - 67431    - GTf  89  -8.6 -4.55759 | opp_overlap 67436 67440 67442 67445, overlap 67436 67438
  AAAACTAACAATAAA           TCAAATAGAC ATA ATCTATTTGA           TACTAAAAACAAATA
  TERM 37       67479 - 67436    - GTf  79  -7.7 -4.26832 | opp_overlap 67436 67440 67442 67445, overlap 67431 67438
  TAACAATAAATCAAA TAGACATAATCTATTTGAT ACTAAA AACAAATAGATTATGTCCT TCACAATACAACAGC
  TERM 38       67477 - 67438    - GTf 100 -12.5 -3.70585 | opp_overlap 67436 67440 67442 67445, overlap 67431 67436
  ACAATAAATCAAATA  GACATAATCTATTTGAT ACTAAA AACAAATAGATTATGTC   CTTCACAATACAACA
gene            67982 - 67821    - | 
gene            68085 - 67984    - | 
gene            68358 - 68218    - | 
gene            68557 - 68399    - | 
gene            67473 - 68636    + | 
  TERM 39       68692 - 68663    - gTR  76  -7.9 -3.88541 | opp_overlap 68665, overlap 68665
  AAAATCAATTAATAA       TATCCGACATAGC ATCA GTTATGTCGGATT        ATACATCTATTCAAA
  TERM 40       68665 - 68690    + GTr 100 -12.7 -3.42583 | opp_overlap 68663 68665
  AATCAATTAATAATA         TCCGACATAGC ATCA GTTATGTCGGA          TTATACATCTATTCA
  TERM 41       68690 - 68665    - gTR  86 -10.5 -3.50721 | opp_overlap 68665, overlap 68663
  AATCAATTAATAATA         TCCGACATAGC ATCA GTTATGTCGGA          TTATACATCTATTCA
gene            68784 - 68677    - | 
gene            69122 - 68982    - | 
gene            68629 - 69129    + | 
gene            69262 - 69113    - | 
gene            69135 - 69335    + | 
gene            69606 - 69457    - | 
gene            69710 - 69603    - | 
gene            69313 - 69720    + | 
gene            70018 - 69899    - | 
gene            70219 - 70022    - | 
gene            70325 - 70221    - | 
gene            70554 - 70420    - | 
gene            70708 - 70586    - | 
gene            70902 - 70798    - | 
gene            69732 - 70988    + | 
gene            71164 - 71060    - | 
gene            71067 - 71225    + | 
gene            71212 - 71361    + | 
  TERM 42       71450 - 71471    + GF  100  -8.8 -6.07969 | opp_overlap 71450
  GATAATATGCAAAAA           GAGAAAGC TACAAT GCTTTCTC            TTTTTTTTGCTTTTA
gene            71441 - 71572    + | 
gene            71535 - 71693    + | 
gene            71690 - 71905    + | 
gene            71916 - 72083    + | 
gene            72168 - 72043    - | 
gene            72230 - 72084    - | 
gene            72094 - 72237    + | 
gene            72253 - 72429    + | 
gene            72450 - 72725    + | 
gene            72776 - 72880    + | 
gene            72783 - 72974    + | 
gene            73351 - 73172    - | 
gene            73000 - 73425    + | 
gene            73539 - 73408    - | 
gene            73833 - 73588    - | 
gene            73427 - 73819    + | 
gene            73810 - 73956    + | 
gene            73972 - 74181    + | 
gene            74234 - 74383    + | 
gene            74591 - 74364    - | 
gene            74380 - 74481    + | 
gene            74583 - 74702    + | 
gene            74764 - 75315    + | 
gene            75525 - 75692    + | 
gene            75945 - 75769    - | 
gene            75809 - 76132    + | 
gene            76547 - 76419    - | 
gene            77075 - 76971    - | 
gene            77040 - 77243    + | 
gene            77281 - 77391    + | 
gene            77586 - 77425    - | 
gene            77475 - 77624    + | 
gene            77822 - 77625    - | 
gene            77710 - 77838    + | 
gene            78117 - 77899    - | 
gene            78255 - 78127    - | 
gene            78107 - 78223    + | 

